header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 0 50px;
}

header h2 {
}

header nav {
  display: flex;
  text-align: center;
}

header nav a {
  margin: auto 0;
  padding: 5px 15px;
}

header nav div {
  color: white;
  cursor: pointer;
}
